.advantages {
  margin-bottom: 54px;
  line-height: 1.2;

  .tablet-up({
    margin-bottom: 82px;
  });

  .desktop-up({
    margin-bottom: 90px;
  });
}

.advantages__container {
  .desktop-up({
    max-width: @col-width * 4 + 100px;
  });
}

.advantages__title {
  margin: 0 0 30px;
  font-size: 25px;
  text-indent: -0.1em;

  .tablet-up({
    .tablet-title();
    margin-bottom: 48px;
  });

  .desktop-up({
    .desktop-title();
  });
}

.advantages__list {
  .reset-list();

  .tablet-up({
    display: flex;
    flex-wrap: wrap;
  });
}

.advantages__item {
  margin-bottom: 30px;
  font-size: 17px;
  font-weight: bold;

  .tablet-up({
    flex-basis: 50%;
    margin-bottom: 58px;
    font-size: 20px;
    line-height: 1.1;
  });

  .desktop-up({
    margin-bottom: 56px;
  });

  &::before {
    display: block;
    width: 52px;
    height: 54px;
    background-repeat: no-repeat;
    content: "";
  }

  &--purity {
    &::before {
      background-image: url("../img/icon-feature-flower.svg");
      background-position: 8px 4px;
    }
  }

  &--love {
    .tablet-up({
      order: 1;
    });

    &::before {
      background-image: url("../img/icon-feature-ball.svg");
      background-position: 4px 2px;
    }
  }

  &--style {
    .tablet-up({
      order: 2;
    });

    &::before {
      background-image: url("../img/icon-feature-money.svg");
      background-position: 0 4px;
    }
  }

  &--support {
    .tablet-up({
      order: 3;
    });

    &::before {
      background-image: url("../img/icon-feature-rocket.svg");
      background-position: -2px 2px;
    }
  }

  &--likes {
    .tablet-up({
      order: 4;
    });

    &::before {
      background-image: url("../img/icon-feature-heart.svg");
      background-position: 8px 6px;
    }
  }

  &--gift {
    .tablet-up({
      order: 5;
    });

    &::before {
      background-image: url("../img/icon-feature-gift.svg");
      background-position: 2px 0;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:nth-child(n + 3) {
    .tablet-up({
      margin-bottom: 0;
    });
  }
}
