.button {
  display: inline-block;
  padding: 15px 38px;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: @gray--darker;
  border: 2px solid @gray--darker;
  outline: none;
  background: white;
  cursor: pointer;
  transition: @transition;

  &:hover,
  &:focus {
    color: white;
    background: @gray--darker;
  }

  &:active {
    color: fade(white, @active-opacity * 100%);
    background: @gray--darker;
  }

  &--green {
    color: white;
    border-color: @green;
    background: @green;

    &:hover,
    &:focus {
      border-color: @green--darker;
      background: @green--darker;
    }

    &:active {
      color: rgba(255, 255, 255, @active-opacity);
      background: @green--darker;
    }
  }
}
