.catalog {
  padding-top: 30px;
}

.catalog__list {
  .reset-list();

  display: flex;
  flex-direction: column;
}

.catalog__item {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}
