.checkbox {
  .custom-toggler-container(40px);

  display: inline-flex;

  .tablet-up({
    min-height: 52px;
    padding-left: 80px;
  });
}

.checkbox__control:focus + .checkbox__label {
  color: @green;
}

.checkbox__control:checked + .checkbox__label {
  &::after {
    background-image: url("@{images-source}/tick.svg");
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(0.7);

    .tablet-up({
      transform: scale(0.9);
    });
  }
}

.checkbox__label {
  .custom-toggler-label(40px);

  .tablet-up({
    font-size: 19px;
  });

  &::after {
    .tablet-up({
      width: 52px;
      height: 52px;
    });
  }

  &::before {
    border: 2px solid @gray--darker;

    .tablet-up({
      width: 52px;
      height: 52px;
    });
  }
}
