.contacts {
  margin-bottom: 40px;

  .tablet-up({
    margin-bottom: 56px;
  });

  .desktop-up({
    margin-bottom: 105px;
    padding-top: 230px;
  });
}

.contacts__wrapper {
  max-width: @phone-width;
  padding: 0 30px;

  .tablet-up({
    max-width: @tablet-width;
    padding: 0 50px;
  });

  .desktop-up({
    max-width: @desktop-width;
    padding-left: calc(~"15.2% + 50px");
  });

  .desktop-down({
    margin: 0 auto;
  });
}

.contacts__title {
  margin-bottom: 26px;
  font-size: 18px;
  text-indent: -2px;

  .tablet-up({
    .tablet-title();
    margin-bottom: 60px;
  });

  .desktop-up({
    .desktop-title();
    margin-bottom: -126px;
  });
}

.contacts__content {
  display: flex;
  flex-direction: column;

  .desktop-up({
    flex-direction: row;
  });
}

.contacts__list {
  margin-bottom: 36px;

  .tablet-up({
    display: flex;
    align-items: flex-start;
  });

  .desktop-up({
    flex-direction: column;
    flex-basis: 50%;
    margin-bottom: 124px;
    padding-top: 180px;
    padding-right: 50px;
  });
}

.contacts__map-wrapper {
  margin: 0 0 40px;

  .tablet-up({
    margin: 0 0 55px;
  });

  .desktop-up({
    display: flex;
    order: 1;
    flex-basis: 50%;
    margin: 0;
    padding-right: 50px;
  });
}

.contacts__map {
  display: block;
  width: 100%;
  object-fit: cover;

  .desktop-up({
    height: auto;
  });
}

.contacts__write-wrapper {
  width: 100%;
  padding: 0 30px;

  .tablet-up({
    align-self: center;
  });

  .desktop-up({
    align-self: flex-end;
    flex-basis: 50%;
    margin-left: -50%;
    padding-left: calc(~"15.2% + 50px");
  });
}

.contacts__write {
  width: 100%;
  letter-spacing: 1px;
}
