.contacts {
  margin-bottom: 40px;

  .tablet-up({
    margin-bottom: 56px;
  });

  .desktop-up({
    margin-bottom: 105px;
    padding-top: 232px;
  });
}

.contacts__wrapper {
  max-width: @phone-width;
  padding: 0 30px;

  .tablet-up({
    max-width: @tablet-width;
    padding: 0 50px;
  });

  .desktop-up({
    max-width: @desktop-width;
    padding-left: @col-width;
  });

  .desktop-down({
    margin: 0 auto;
  });
}

.contacts__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
  font-size: 18px;
  text-indent: -0.1em;

  &::after {
    .tablet-up({
      content: "";
      display: inline-block;
      flex-shrink: 0;
      width: 47px;
      height: 81px;
      margin-top: -16px;
      background-image: url("@{images-source}/flag.svg");
      background-repeat: no-repeat;
    });

    .desktop-up({
      order: -1;
      width: @col-width;
      margin-top: -6px;
      background-position: center;
    });
  }

  .tablet-up({
    .tablet-title();
    margin-bottom: 34px;
  });

  .desktop-up({
    .desktop-title();
    justify-content: flex-start;
    margin: 0 auto -144px;
    padding-left: 50px;
  });
}

.contacts__content {
  display: flex;
  flex-direction: column;

  .desktop-up({
    flex-direction: row;
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 50px;
  });
}

.contacts__list {
  margin-bottom: 36px;

  .tablet-up({
    display: flex;
    align-items: flex-start;
    margin-bottom: 58px;
  });

  .desktop-up({
    flex-direction: column;
    flex-basis: 50%;
    margin-bottom: 124px;
    padding-top: 176px;
    padding-right: 50px;
  });
}

.contacts__map-wrapper {
  height: 457px;
  margin: 0 0 40px;
  overflow: hidden;

  .tablet-up({
    margin: 0 0 55px;
  });

  .desktop-up({
    display: flex;
    order: 1;
    flex-basis: 50%;
    max-width: 50%;
    margin: 0;
  });
}

.contacts__map-image {
  width: 100%;

  .desktop-up({
    height: auto;
  });
}

.contacts__write-wrapper {
  padding: 0 30px;
  text-align: center;

  .tablet-up({
    align-self: center;
    text-align: left;
  });

  .desktop-up({
    align-self: flex-end;
    flex-basis: 50%;
    max-width: initial;
    margin-left: -50%;
    padding-left: @col-width;
  });
}

.contacts__write {
  width: 100%;

  .desktop-up({
    width: auto;
  });
}
