.copyright__link {
  text-decoration: none;
  color: black;
  transition: color @transition;

  &:active {
    color: fade(black, @active-opacity * 100%);
  }
}

.copyright__text {
  font-size: 19px;

  .tablet-up({
    font-size: 21px;
  });
}
