.extra-list {
  display: none;

  .desktop-up({
    display: flex;
    order: 1;
    margin-right: 0;
    margin-bottom: -64px;
  });
}

.extra-list__item:first-child {
  width: 190px;

  .extra-list__link {
    padding: 20px 20px 20px 0;
  }
}

.extra-list__link {
  max-width: 230px;
  padding: 20px 36px 20px;
  font-size: 15px;
}
