.featured-product {
  margin-bottom: 36px;
}

.featured-product__header {
  margin-bottom: 30px;
  line-height: 1.2;
}

.featured-product__title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 25px;
}

.featured-product__tag {
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  color: @green-500;
}

.featured-product__description {
  margin: 0;
  margin-bottom: 24px;
  color: @gray-700;
}

.featured-product__image {
  display: block;
  margin: 0 auto 28px;
}

.featured-product__price {
  margin: 0 0 28px;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  color: @gray-700;
}

.featured-product__make-order {
  width: 100%;
}
