.form__fieldset {
  margin: 0 0 30px;
  padding: 0;
  border: none;

  .tablet-up({
    display: flex;
    margin: 0;
    padding: 48px 0;
    &:nth-child(even) {
      background: @gray--light;
    }
  });

  &--fullname {
    .tablet-up({
      padding: 52px 0;
    });
  }

  &--note {
    .tablet-up({
      padding: 53px 0;
    });

    .desktop-up({
      padding: 50px 0;
    });
  }

  &--fullname .container {
    .desktop-up({
      padding-right: @col-width + 50px;
    });
  }

  &--contacts .container,
  &--note .container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;

    .desktop-up({
      padding-right: @col-width + 50px;
    });
  }

  &--note .container {
    .tablet-up({
      flex-direction: row;
    });
  }

  &:last-of-type {
    margin-bottom: 18px;

    .tablet-up({
      margin-bottom: 0px;
    });
  }
}

.form__fieldset-container {
  .tablet-up({
    display: flex;
    flex-basis: 100%;
  });
}

.form__legend {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  margin-bottom: 20px;
  font-size: 17px;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  color: @green;

  .tablet-up({
    flex-shrink: 0;
    align-self: flex-start;
    width: @tablet-col-width;
    margin: 0;
    padding: 16px 20px 0 0;
  });

  .desktop-up({
    width: @col-width;
    padding-left: 62px;
  });

  &::after {
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 100%;
    height: 1px;
    margin-left: 20px;
    background: @green;
    content: "";

    .tablet-up({
      display: none;
    });
  }
}

.form__fields {
  display: flex;
  flex-wrap: wrap;
}

.form__fields--checkboxes {
  .desktop-up({
    padding-right: @col-width / 2;
  });
}

.form__fields--checkboxes .form__field {
  .tablet-up({
    width: 100% / 2;
    &:nth-of-type(-n + 2) {
      margin-top: 0;
    }
  });

  .tablet-up-desktop({
    &:nth-child(even) {
      border-left: 12px solid transparent;
    }
  });

  .desktop-up({
    width: 100% / 3;
    &:nth-of-type(-n + 3) {
      margin-top: 0;
    }
  });
}

.form__field {
  width: 100%;
  margin-top: 21px;

  .tablet-up({
    margin-top: 24px;
  });

  &:first-of-type {
    margin-top: 0;
  }
}

.form__footer {
  display: flex;
  flex-direction: column;
  max-width: @phone-width - 60px;
  margin: 0 auto 55px;

  .tablet-up({
    flex-direction: row;
    align-items: center;
    max-width: @tablet-width - 100px;
    margin-bottom: 50px;
  });

  .desktop-up({
    max-width: @col-width * 4;
  });
}

.form__note {
  display: block;
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 1.14;
  color: @gray--darker;

  .tablet-up({
    order: 1;
    margin-left: auto;
    margin-bottom: 8px;
    padding-left: 20px;
    font-size: 17px;
    line-height: 1.76;
    text-align: right;
  });

  .desktop-up({
    margin-bottom: 0;
  })
}

.form__submit-button {
  width: 100%;

  .tablet-up({
    width: auto;
    padding: 15px 28px;
  });
}
