.input {
  font-size: 0;

  .tablet-up({
    display: flex;
    align-items: center;
  });
}

.input__label {
  .form-label();

  .tablet-up({
    padding-right: 30px;
    font-size: 19px;
  });
}

.input__control {
  .placeholder();

  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 17px;
  line-height: 1;
  color: @gray--darker;
  border: none;
  border-bottom: 2px solid black;
  background: transparent;
  transition: border-color @transition;

  .tablet-up({
    font-size: 19px;
  });

  &:hover,
  &:active,
  &:focus {
    border-color: @green;
  }
}
