.item-contact {
  display: flex;
  max-width: 100%;
  margin: 0;
  margin-bottom: 30px;
  font-size: 15px;
  font-style: normal;
  line-height: 2;
  color: @gray--darker;
  word-break: break-word;

  .tablet-up({
    flex-basis: 50%;
    margin: 0;
    font-size: 17px;
    line-height: 1.76;
  });

  .tablet-up-desktop({
    max-width: 50%;
  });

  .desktop-up({
    flex-basis: auto;
    margin-bottom: 32px;
  });

  &:last-child {
    margin-bottom: 0;
  }
}

.item-contact__field {
  flex-shrink: 0;
  padding-right: 30px;

  .tablet-up({
    padding-right: 24px;
  });
}

.item-contact__value {
  &--address {
    .tablet-down({
      padding-right: 30px;
    });
  }

  &--email {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid @green--dark;
    transition: color @transition;

    &:hover {
      color: @green--dark;
    }

    &:active {
      opacity: @active-opacity;
    }
  }
}
