.main-nav {
  width: @phone-width;
}

.main-nav__list {
  .reset-list();

  &--hidden {
    display: none;
  }
}

.main-nav__toggler {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 22px;
  height: 22px;
}
