.page-footer {
  padding-bottom: 30px;
  background: @gray--light;
}

.page-footer__socials {
  height: 20px;
  margin-bottom: 28px;
  border-bottom: 1px solid @gray;
}

.page-footer__copyright {
  text-align: center;
}
