.page-main__header {
  padding: 73px 0;
  background: @gray-300;

  &--bg-image {
    padding-bottom: 120px;
    background-image: url("../../img/hero-mobile@1x.jpg");
    background-position: center -16px;
    background-repeat: no-repeat;
  }
}

.page-main__title {
  width: 250px;
  margin: 0 auto;
  font-size: 27px;
  line-height: 1.12;
  text-align: center;
}
