.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: @phone-width;
  margin: 0 auto;
  box-shadow: 0 1px 0 0 @gray;

  .tablet-up({
    flex-direction: row;
    justify-content: space-between;
    max-width: @tablet-width - 100px;
  });

  .desktop-up({
    max-width: @desktop-width - 200px;
  });
}

.page-header__logo {
  padding: 22px 0;

  .desktop-up({
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  });
}

.page-header__logo-image {
  display: block;
  transition: @transition;

  &:hover {
    opacity: @hover-opacity;
  }

  &:active {
    opacity: @active-opacity;
  }
}

.page-header__delivery {
  display: none;
  color: @gray--darker;

  .tablet-up({
    position: absolute;
    top: 100%;
    right: 0;
    display: block;
    margin-top: 20px;
  });
}
