.page-main__header {
  padding: 71px 0 76px;
  background: @gray--light;

  .tablet-up({
    padding: 94px 0 84px;
  });

  .desktop-up({
    padding-bottom: 100px;
  });

  &--bg-image {
    .adaptive-image("hero");

    padding-bottom: 122px;
    background-color: @gray--lighter;
    background-repeat: no-repeat;
    background-size: 575px auto;
    background-position: center -16px;

    .tablet-up({
      padding: 154px 0 494px;
      background-position: center;
      background-size: cover;
    });

    .desktop-up({
      padding-bottom: 478px;
      background-size: contain;
    });
  }
}

.page-main__title {
  width: 250px;
  margin: 0 auto;
  font-size: 27px;
  line-height: 1.12;
  text-align: center;

  .tablet-up({
    width: 500px;
    font-size: 43px;
    line-height: 1.16;
  });

  .desktop-up({
    width: 750px;
    font-size: 53px;
    line-height: 1.08;
  });
}
