.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: @phone-width;
  margin: 0 auto;
  box-shadow: 0 1px 0 0 @gray;

  .tablet-up({
    flex-direction: row;
    flex-wrap: wrap;
    max-width: @tablet-width - 100px;
  });

  .desktop-up({
    max-width: @desktop-width - 200px;
  });
}

.page-header__delivery {
  display: none;
  color: @gray--darker;

  .tablet-up({
    display: block;
    margin-bottom: -64px;
    margin-left: auto;
  });
}
