.page-footer {
  padding-bottom: 26px;
  background: @gray--light;

  .tablet-up({
    padding: 0;
  });
}

.page-footer__container {
  display: flex;
  flex-direction: column;

  .tablet-up({
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 52px 50px;
  });
}

.page-footer__logo {
  .prevent-manipulations();

  .tablet-up({
    flex-basis: 100% / 3;
    margin-top: -6px;
  });
}

.page-footer__logo-image {
  display: none;
  height: auto;
  transition: @transition;

  .tablet-up({
    display: block;
  });

  &:hover {
    fill: @green--dark;
  }

  &:active {
    opacity: @active-opacity;
  }
}

.page-footer__socials {
  align-self: center;
  margin-bottom: 20px;
  padding: 25px 0 26px;
  border-bottom: 1px solid @gray;

  .tablet-up({
    flex-basis: 142px;
    margin: 4px 0 0 -4px;
    padding: 0;
    border: none;
  });
}

.page-footer__copyright {
  text-align: center;

  .tablet-up({
    flex-basis: 100% / 3;
    text-align: right;
  });
}
