.params-product {
  width: 100%;
  margin-bottom: 28px;
  color: @gray-700;
  border-collapse: collapse;
}

.params-product__row {
  &:first-child {
    padding-top: 0;
  }
}

.params-product__field,
.params-product__value {
  padding: 10px 0;
  border-bottom: 1px solid @gray-500;
}

.params-product__field {
  width: 100px;
}
