.product-types {
  margin-bottom: 26px;

  .tablet-up({
    margin-bottom: 56px;
  });

  .desktop-up({
    margin-bottom: 0;
  });
}

.product-types__container {
  .tablet-down({
    padding: 0;
  });

  .tablet-up({
    margin-top: -120px;
  });
}

.product-types__list {
  .reset-list();
  .tablet-up({
    display: flex;
  });
}

.product-types__item {
  flex-basis: 50%;
}

.product-types__link {
  display: block;
  padding: 27px 28px 30px;
  font-size: 19px;
  font-weight: bold;
  line-height: 1.26;
  text-decoration: none;
  color: white;
  transition: @transition;

  .tablet-up({
    padding: 30px 36px;
    font-size: 20px;
    line-height: 1.5;
  });

  &:hover {
    .tablet-up({
      transform: translateY(-5px);
    });
  }

  &:active {
    color: fade(white, @active-opacity * 100%);
  }
}

.product-types__link--intertior {
  background: @green;

  &:hover,
  &:active {
    background: @green--light;
  }
}

.product-types__link--toys {
  background: @green--darker;

  &:hover,
  &:active {
    background: @green--dark;
  }
}
