.production__container {
  margin: 0 30px 58px;
  padding: 30px 34px 34px;
  border: 1px solid @gray-500;
  transition: box-shadow @transition;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.production__title {
  margin: 0 0 26px;
  padding-left: 56px;
  font-size: 17px;
  line-height: 1.4;
}

.production__media {
  margin: 0 -34px 34px;
}

.production__intro {
  margin: 0 0 30px;
  font-size: 13px;
  line-height: 1.85;
  color: @gray-700;
}

.production__make-order {
  width: 100%;
}
