.production__container {
  margin: 0 30px 58px;
  padding: 30px 34px 34px;
  border: 1px solid @gray;
}

.production__title {
  margin: 0 0 26px;
  padding-left: 56px;
  font-size: 17px;
  line-height: 1.4;
}

.production__media {
  margin: 0 -34px 34px;
}

.production__intro {
  margin: 0 0 30px;
  font-size: 13px;
  line-height: 1.85;
  color: @gray--darker;
}

.production__make-order {
  width: 100%;
}
