.product-types {
  .desktop-up({
    margin-bottom: 0;
  });
}

.product-types__container {
  position: relative;

  .tablet-down({
    padding: 0;
  });
}

.product-types__list {
  .reset-list();
  .tablet-up({
    display: flex;
  });
}

.product-types__item {
  flex-basis: 50%;
}

.product-types__link {
  position: relative;
  display: block;
  padding: 27px 100px 30px 28px;
  font-size: 19px;
  font-weight: bold;
  line-height: 1.26;
  text-decoration: none;
  color: white;
  word-break: break-all;
  transition: @transition;

  .tablet-up({
    height: 100%;
    padding: 28px 100px 37px 36px;
    font-size: 20px;
    line-height: 1.5;
    transform: translateY(5px);
  });

  &:hover {
    .tablet-up({
      transform: translateY(0);
    });

    &::after {
      opacity: 0.7;
    }
  }

  &:active {
    color: fade(white, @active-opacity * 100%);

    &::after {
      opacity: 0.3;
    }
  }

  &::after {
    position: absolute;
    top: 22px;
    opacity: 0.5;
    transition: opacity @transition;

    .tablet-up({
      top: 30px;
    });
  }
}

.product-types__link--interior {
  background: @green;

  &:hover,
  &:active {
    background: @green--light;
  }

  &::after {
    right: 36px;
    width: 40px;
    height: 62px;
    content: url("@{images-source}/interior.svg");
  }
}

.product-types__link--toys {
  background: @green--darker;

  &:hover,
  &:active {
    background: @green--dark;
  }

  &::after {
    right: 27px;
    width: 60px;
    height: 60px;
    content: url("@{images-source}/toy.svg");

    .tablet-up({
      right: 34px;
    });
  }
}
