.product-types {
  margin-bottom: 34px;
}

.product-types__list {
  .reset-list();
}

.product-types__link {
  display: block;
  padding: 29px 30px;
  font-size: 19px;
  font-weight: bold;
  line-height: 1.26;
  text-decoration: none;
  color: white;
  transition: color @transition;

  &:active {
    color: rgba(255, 255, 255, @active-opacity);
  }
}

.product-types__link--intertior {
  background: @green-500;

  &:hover,
  &:active {
    background: @green-400;
  }
}

.product-types__link--toys {
  background: @green-700;

  &:hover,
  &:active {
    background: @green-600;
  }
}
