.product {
  display: flex;
  flex-direction: column;
  height: 100%;
  word-break: break-word;

  .tablet-up-desktop({
    flex-direction: row;
  });

  &:hover .product__content {
    .desktop-up({
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    });
  }

  &:active .product__content {
    .desktop-up({
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    });
  }
}

.product__header {
  .tablet-up-desktop({
    width: 50%;
  });
}

.product__image {
  display: block;
  width: 100%;
  height: auto;
}

.product__content {
  padding: 27px;
  border: 1px solid @gray;
  transition: box-shadow @transition;

  .tablet-up({
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 25px 25px 28px;
  });

  .desktop-up({
    width: 100%;
    min-height: 196px;
    padding: 26px 32px 24px 26px;
  });
}

.product__name-link {
  display: inline-block;
  margin-bottom: 11px;
  text-decoration: none;
  color: black;
  transition: opacity @transition;

  &:hover {
    opacity: @hover-opacity;
  }

  &:active {
    opacity: @active-opacity;
  }

  .tablet-up({
    margin-bottom: 5px;
  });
}

.product__name {
  margin: 0;
  font-size: 17px;
  line-height: 1.4;

  .tablet-up({
    padding-right: 40px;
    font-size: 20px;
    line-height: 1.2;
  });

  .desktop-up({
    padding-right: 24px;
  });
}

.product__description {
  margin: 0 0 24px;
  font-size: 13px;
  color: @gray--darker;

  .tablet-up({
    font-size: 15px;
    line-height: 2;
  });

  .desktop-up({
    margin-bottom: 14px;
  });
}

.product__buy {
  display: flex;
  padding-top: 22px;
  border-top: 1px solid @gray;

  .tablet-up({
    margin: auto 6px 0;
  });

  .desktop-up({
    margin-right: 0;
    margin-left: 0;
  });
}

.product__price {
  .tablet-up({
    font-size: 17px;
    line-height: 1.4;
  });
}

.product__add-to-cart {
  margin-left: auto;
  cursor: pointer;
}

.product__cart-icon {
  fill: fade(black, 20%);
  transition: @transition;

  &:hover {
    fill: @green;
  }

  &:active {
    opacity: @active-opacity;
  }

  .tablet-up-desktop({
    vertical-align: text-top;
  });
}
