.radiobutton {
  .custom-toggler-container(40px);

  margin-top: 12px;
  padding-top: 5px;
  padding-bottom: 5px;

  .tablet-up({
    min-height: 52px;
    margin-top: 24px;
    padding: 12px 0 12px 80px;
  });
}

.radiobutton__control:focus + .radiobutton__label {
  color: @green;
}

.radiobutton__control:checked + .radiobutton__label {
  &::after {
    background: @green;
    box-shadow: inset 0 0 0 10px white;

    .tablet-up({
      box-shadow: inset 0 0 0 13px white;
    });
  }
}

.radiobutton__label {
  .custom-toggler-label(40px);
  .tablet-up({
    font-size: 19px;
  });

  &::before,
  &::after {
    border: 2px solid @gray--darker;
    border-radius: 50%;

    .tablet-up({
      width: 52px;
      height: 52px;
    });
  }
}
