.reviews {
  margin-bottom: 86px;
  word-break: break-word;

  .tablet-up({
    margin-bottom: 146px;
  });

  .desktop-up({
    margin-bottom: 0;
    background-position: 50px top;
    background-size: 350px;
  });
}

.reviews__container {
  .wave-line();

  display: flex;
  flex-wrap: wrap;

  .tablet-up({
    padding-top: 78px;
    background-image: url("@{images-source}/review@1x.jpg");
    background-repeat: no-repeat;
    background-size: contain;
  });

  .desktop-up({
    padding-top: 72px;
    padding-left: @col-width + 50px;
    background-position: 50px top;
    background-size: 350px;
  });

  .tablet-retina({
     background-image: url("@{images-source}/review@2x.jpg");
  });

  &::after {
    bottom: -50px;

    .tablet-up({
      bottom: -84px;
    });

    .desktop-up({
      bottom: -90px;
    });
  }
}

.reviews__title {
  margin: 0 0 24px;
  font-size: 25px;
  line-height: 1.2;
  text-indent: -0.1em;

  .tablet-up({
    .tablet-title();
    margin-bottom: 50px;
  });

  .desktop-up({
    .desktop-title();
  });
}

.reviews__slider {
  .tablet-up({
    order: 2;
    padding-bottom: 48px;
  });

  .desktop-up({
    padding-bottom: 96px;
  });
}

.reviews__list {
  .reset-list();

  margin-bottom: 31px;

  .tablet-up({
    margin-bottom: 0;
  });
}

.reviews__text {
  margin: 0 0 24px;
  line-height: 2;
  color: @gray--darker;

  .tablet-up({
    margin-bottom: 58px;
    font-size: 17px;
    line-height: 1.76;
  });

  .desktop-up({
    margin-bottom: 36px;
    padding-right: 100px;
  });
}

.reviews__author-name {
  display: block;
  margin-bottom: 6px;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;

  .tablet-up({
    font-size: 18px;
  });

  .desktop-up({
    letter-spacing: -0.5px;
  });
}

.reviews__author-nickname {
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  color: @gray--darker;
  letter-spacing: 0.4px;
}

.reviews__togglers {
  margin-bottom: 38px;

  .tablet-up({
    margin-bottom: 0;
    padding-right: 12px;
  });
}

.reviews__write {
  width: 100%;

  .tablet-up({
    width: auto;
    margin: 0 0 auto auto;
  });

  .desktop-up({
    margin-top: 8px;
  });
}
