.reviews {
  margin-bottom: 36px;
}

.reviews__title {
  margin: 0 0 30px;
  font-size: 25px;
  line-height: 1.2;
}

.reviews__list {
  .reset-list();

  margin-bottom: 36px;
}

.reviews__text {
  margin: 0 0 36px;
  line-height: 2;
  color: @gray--darker;
}

.reviews__author-name {
  display: inline-block;
  margin-bottom: 6px;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
}

.reviews__author-nickname {
  font-size: 16px;
  color: @gray--darker;
}

.reviews__togglers {
  margin-bottom: 38px;
}

.reviews__write {
  width: 100%;
}
