.site-list {
  .tablet-up({
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
  });

  .desktop-up({
    position: static;
  });
}

.site-list__item:first-child {
  .desktop-up({
    width: 190px;
  });

  .site-list__link {
    .desktop-up({
      padding-left: 0;
      border-right: 1px solid @gray;
    });
  }
}

.site-list__link {
  .tablet-up({
    max-width: 180px;
    padding: 20px 36px 20px 0;
    font-size: 15px;
  });
  .desktop-up({
    max-width: 230px;
    padding: 33px 36px;
    font-size: 17px;
  });
}
