.site-list__link {
  display: inline-block;
  width: 100%;
  padding: 32px 0 30px 76px;
  font-size: 17px;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
  color: black;
  border-top: 1px solid @gray-500;
  transition: @transition;

  &:hover {
    opacity: @hover-opacity;
  }

  &:active {
    opacity: @active-opacity;
  }
}
