.slider {
  .tablet-up({
    display: flex;
    flex-direction: column;
  });
}

.slider__controls {
  display: flex;
  height: 52px;
  margin: 0;
  border: 1px solid @gray;

  .tablet-up({
    margin-top: -52px;
    margin-left: auto;
    border: none;
  });
}

.slider__next,
.slider__prev {
  display: inline-block;
  width: 50%;
  height: 100%;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: opacity @transition;

  &:hover {
    opacity: @hover-opacity;
  }

  &:active {
    opacity: @active-opacity;
  }
}

.slider__prev {
  border-right: 1px solid @gray;

  .tablet-up({
    margin-right: 22px;
    border: none;
  });
}
