.socials__list {
  .reset-list();

  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0;
}

.socials__icon {
  transition: @transition;

  &:hover {
    fill: @green--dark;
  }

  &:active {
    opacity: @active-opacity;
  }
}
