@gray-300: #f1f1f1;
@gray-500: #ececec;
@gray-600: #c6c6c6;
@gray-700: #444444;
@green-400: #59d5bc;
@green-500: #63d1bb;
@green-600: #46c1ae;
@green-700: #56c3b2;

@hover-opacity: 0.6;
@active-opacity: 0.3;

@transition: 0.2s ease 0s;

@font-opensans: "Open Sans", "Arial", sans-serif;

@phone-width: 320px;
