@gray-300: #f1f1f1;
@gray-500: #ececec;
@gray-700: #444444;
@green-500: #63d1bb;
@green-700: #56c3b2;

@hover-opacity: 0.6;
@active-opacity: 0.3;

@transition: 0.2s ease 0s;

@font-opensans: "Open Sans", "Arial", sans-serif;

@phone-width: 320px;
